@font-face {
  font-family: "Inika";
  src: url("/public/assets/fonts/Inika-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Inika";
  src: url("/public/assets/fonts/Inika-Bold.ttf");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Kodchasan";
  src: url("/public/assets/fonts/Kodchasan-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Kodchasan";
  src: url("/public/assets/fonts/Kodchasan-Bold.ttf");
  font-style: normal;
  font-weight: bold;
}

* {
  box-sizing: border-box;
  position: relative;
}
html {
  margin: 0;
  font-family: "Inika", serif;
}
h1,
h2,
h3,
h4,
button {
  font-family: "Kodchasan";
  text-align: center;
  border: none;
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 22px;
}
h4 {
  font-size: 20px;
}
body {
  margin: 0;
}
header {
  display: flex;
  height: 50px;
  background-color: #00ad6e;
  justify-content: space-around;
  align-items: center;
}
.header_img {
  height: 50px;
}
button {
  font-size: 18px;
  min-height: 44px;
}
p {
  margin: 0 16px;
}
#portada {
  font-size: 16px;
  min-height: 135px;
  display: flex;
  align-items: center;
  text-align: center;
  background-image: url("/public/assets/imgs/fondo_padel.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
#portada::before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: "";
  background-color: white;
  opacity: 75%;
}
.dos_botones {
  margin: 16px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:16px;
}
.dos_botones button {
  min-width: calc(50vw - 32px);
  border-radius: 25px;
  background-color: #6bc9f3;
}
#home_socios h3 {
  text-align: center;
  margin-bottom: 5px;
}
.banner {
  display: flex;
  justify-content: right;
  min-height: 145px;
  background-image: url("/public/assets/imgs/padel_miembro.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.sub_banner {
  width: 50vw;
  font-size: 14px;
  background-color: rgba(237, 237, 237, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sub_banner p,
.sub_banner ul {
  margin: 0;
}
#home_ultimos_eventos h2 {
  background-color: #ededed;
  padding: 5px;
}
#home_ultimos_eventos > p {
  text-align: justify;
  margin: 16px;
}
#eventos_banner {
  justify-content: left;
  background-image: url("/public/assets/imgs/pelota_evento_uno.jpg");
}
.titulo_mini {
  font-family: "Inika";
  font-size: 18px;
  font-weight: 100;
  margin: 5px 0 0 0;
}
#eventos_texto_banner p {
  margin: 5px 10px;
}
#home_tienda {
  border: 4px solid #00ad6e;
  margin: 16px;
}
#home_tienda h2 {
  margin: 0 5px;
  text-align: left;
}
#home_tienda p {
  margin: 0 5px;
}
#banner_home_tienda {
  justify-content: left;
  background-image: url("/public//assets/imgs/pelotas.jpg");
}
#banner_texto_home_tienda {
  justify-content: start;
}
#banner_texto_home_tienda h4 {
  text-align: left;
  margin: 5px;
}
#home_club h3,
#home_blog h3 {
  text-align: left;
  margin: 5px 16px;
}
#botones_dedo {
  display: flex;
  flex-direction: column;
  margin: 0 16px;
  gap: 12px;
}
#botones_dedo button {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7a416;
  min-height: 44px;
}
#home_blog {
  background-color: #ededed;
}
#home_blog h3 {
  margin-top: 25px;
}
#home_blog h4 {
  text-align: left;
}
#home_blog > div {
  background-image: none;
}

#home_blog_img {
  width: 50vw;
  margin: 10px;
  background-image: url("/public/assets/imgs/jugadora_padel.jpg");
  background-size: 250%;
  background-position: top center;
}
.contactanos-btn{
    text-align: center;
    margin: 20px 16px;
}
#contactanos{
    min-width: 100%;
    border-radius: 25px;
    background-color: #F7A416;
}
footer{
  background-color: #1D1D1B;  
  color: white;
  text-align: center;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}
#links{
    margin: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer :last-child{
    margin-bottom: 16px;
}