/* Para explicar el CSS, explicaremos las normas que aparezcan por primera vez pero evitaremos repetirlas cuando ya hayan salido */
/* Importamos las fuentes que vamos a utilizar en el proyecto */
@font-face {
  font-family: "Inika";
  src: url("../public/assets/fonts/Inika-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Inika";
  src: url("../public/assets/fonts/Inika-Bold.ttf");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Kodchasan";
  src: url("../public/assets/fonts/Kodchasan-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Kodchasan";
  src: url("../public/assets/fonts/Kodchasan-Bold.ttf");
  font-style: normal;
  font-weight: bold;
}
/* GLOBAL */
/* En esta sección aplicamos los estilos globales del proyecto. En mi caso siempre empiezo con border-box para que el ancho y alto defina la caja del elemento, y posición relativa para que los elementos por defecto se ajusten al flujo normal y así trabajar fácilmente con otras posiciones.*/
* {
  box-sizing: border-box;
  position: relative;
}
/* Aplicamos la fuente global para el documento y el ancho máximo del main. Tal como está configurada la página, podriamos dejar fácilmente un margen solo con cambiar el valor en este apartado. */
main,
.footer_container {
  margin: 0;
  font-family: "Inika", serif;
  max-width: 1200px;
}
/* Le quitamos el subrayado y el color por defecto a los enlaces */
a {
  text-decoration: none;
  color: #1d1d1b;
}
/* Le damos un estilo general a los títulos y a los botones, haciéndolos Flex, alineandolos en el centro por defecto, y dándole la fuente de los títulos, así como quitar el borde por defecto a los botones */
h1,
h2,
h3,
h4,
.link_button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Kodchasan";
  text-align: center;
  border: none;
}
/* A continuación aplicamos los efectos de hover, empezando aplicar a los elementos clicables el puntero de mano*/
.link_button:hover,
.banner_three,
.oferta1,
.oferta2,
.oferta3,
#miembro_banner {
  cursor: pointer;
}
/* A los siguientes elementos les damos el efecto de invertie sus colores al pasar por encima. Vemos que hay un "+" en uno de los selectores, que nos sirve para indicar que cuando se hace el hover el efecto se aplica al hermano*/
.header_img:hover,
.carrito:hover,
.portada a:hover,
.nav_mobile li:hover,
.categorias_desktop ul li:hover,
#categorias_check:hover + .desplegable_categorias,
.categorias_lista a:hover {
  filter: invert(100%);
}
/* Aquí, vemos que en uno de los selectores hemos usado el nth-child que lo que hace es seleccionar al hijo que hayamos marcado entre parentesis, y les aplicamos el fondo de color según la guía de estilo*/
.categorias_desktop ul li:nth-child(1) a:hover,
.categorias_lista a:hover {
  background-color: #085be9;
}
/* Aquí le damos el efecto al contenedor de categorías dentro tienda, determinando su ancho y una posición absoluta en relación a su contenedor, que al tener posición relativa podemos posicionarlo fácilmente con top y left*/
#categorias_check:hover + .desplegable_categorias {
  background-color: #085be9;
  width: 100%;
  position: absolute;
  padding: 11px 20px;
  top: 0;
  left: 0;
}
#boton_identificate:hover {
  background-color: #f7a416;
}
#botones_dedo .link_button:hover {
  filter: invert(100%);
  color: white; /* color determina el color de la fuente*/
  background-color: #f7a416;
}
/* Le damos un efecto a las imágenes de la sección de blog en la página home al llevarnos a otro sitio, para dar un feedback visual de que es un elemento clicable otro que el cursor en forma de mano, usando filter, que nos permite aplicar diferentes filtros, en este caso de saturación y brillo*/
.home_blog_img:hover {
  filter: saturate(150%);
  filter: brightness(1.2);
}
#botones_dedo .link_button:hover {
  background-color: #085be9;
}
/* Aquí usamos border, que creara un borde alrededor del elemento, y en este caso cuando ese elemento esté en estado activo */
#botones_dedo .link_button:active {
  border: 4px solid black;
}
input:hover {
  border: 2px solid #6bc9f3;
}
/* Aquí al declarar el background color con rgba, le estamos dando un valor de transparencia*/
.banner:hover .sub_banner {
  background-color: rgba(237, 237, 237, 0.9);
}
.orange_btn:hover,
.blue_btn:hover {
  border: 4px solid black;
}
/* Con font-weight  determinamos el peso de la fuente*/
.orange_btn:active {
  border: none;
  color: #f7a416;
  background-color: #1d1d1b;
  font-weight: bold;
}
.oferta1:hover h2,
.oferta2:hover h2,
.oferta3:hover h2,
.oferta1:hover div,
.oferta2:hover div,
.oferta3:hover div {
  background-color: rgba(237, 237, 237, 0.9);
}
.dos_botones .blue_btn:active,
.blue_btn:active {
  border: none;
  color: #6bc9f3;
  background-color: #1d1d1b;
  font-weight: bold;
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 26px;
  text-align: left;
  margin-left: 20px;
  justify-content: left;
}
h3 {
  font-size: 22px;
}
h4 {
  font-size: 20px;
}
/* Por defecto el body está en dirección columna , y tendrá un min-height del 100vh para que el footer esté siempre situado abajo*/
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}
.link_button {
  font-size: 18px;
  min-height: 44px;
}
p {
  margin: 0 16px;
}
/* Esto lo hemos hecho porque al comprobar la compatibilidad con otros navegadores, en el de firefox no se aplicaban los efectos de los pseudoelementos (::after y ::before) en dicho navegador, pero aplicando un primer marcado arreglamos el problema. Appearence lo ponemos por consejo del verificador de CSS para evitar warnings*/
input[type="checkbox"] {
  appearance: unset;
  -moz-appearance: unset;
  border: 1px solid black;
}
/* HEADER */
/* Al banner le damos una posición fija, de manera que conforme bajamos en la página lo tenemos siempre arriba, y con un z-index 2, que nos permite decir que esté delante del resto de elementos (que por defecto tienen un z-index más bajo) justify content nos permite posicionar en elementos con display Flex, igual que align-items */
.banner_verde {
  display: flex;
  position: fixed;
  height: 50px;
  width: 100%;
  z-index: 2;
  background-color: #00ad6e;
  justify-content: space-around;
  align-items: center;
}
.portada {
  margin-top: 50px;
}
.header_img {
  height: 50px;
}
header li {
  font-family: "Kodchasan";
}
/* La declaración de esta manera nos permite definir los 4 márgenes en orden arriba, derecha, abajo, izquierda */
#socios_btn {
  margin: 16px 0 0 0;
}
header a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
}
header div {
  display: flex;
}
/* Esta es la parte que hemos creado para evitar usar js, donde si el elemento checked está seleccionado, el elemento se vuelve visible */
#menu_mobile:checked + .nav_mobile {
  visibility: visible;
}
/* Se le ha dado un left en referencia al ancho para que esté siempre cuadrado con el pseudoelemento que nos permitirá cerrarlo pulsandolo de nuevo*/
#menu_mobile:checked {
  top: 30px;
  left: calc(82.5%);
  font-size: 25px;
  display: flex;
  position: fixed;
}
/* El elemento que nos permite abrir el menú, que será invisible para dar la impresión de que pulsamos directamente sobre el menú o sobre la x, con la opacidad al 0% y un z-index por encima de los otros elementos para poder pulsarlo siempre*/
#menu_mobile {
  z-index: 3;
  opacity: 0%;
  position: absolute;
  top: 10px;
  left: calc(86.5%);
  width: 28px;
  height: 28px;
  margin: 0;
  cursor: pointer;
}
.menu_mobile_icon {
  display: flex;
}
/* La visibilidad collapse hace que el elemento no esté visible por defecto, para eso hemos definido antes el checke, que le cambiará la visibilidad. También le hemos dado la propiedad de overflow con scroll ya que si hubiese una pantalla con mucho ancho y poco alto, podría suceder que el menú no se viese al completo, y esto nos permite hacer scroll en el desplegable. Aquí también hemos utilizado vh, una medida relativa abreviatura de "viewport-height" que hace referencia. También le hemos dado la posición fixed para que esté en primer plano */
.nav_mobile {
  visibility: collapse;
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 2;
  background-color: white;
  font-family: "Kodchasan";
  overflow: scroll;
}
.nav_mobile nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
}
/* Con calc podemos realizar operaciones incluso relativas como en este caso */
.nav_mobile ul {
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: calc(100vh / 12);
}
.nav_mobile ul li a {
  font-size: 24px;
  /* Cuando solo se determinan dos valores en elementos de 4, el primero incluye arriba y abajo y el siguiente izquierda y derecha */
  margin: calc(100vh / 30) 0;
  padding: calc(100vh / 30) 0;
  background-color: #ededed;
}
.close {
  top: 30px;
  left: calc(86.5%);
  width: fit-content;
  font-size: 25px;
  display: flex;
  justify-content: right;
  position: absolute;
  z-index: 1;
}
/* FOOTER */
footer {
  margin: 0;
}
footer {
  background-color: #1d1d1b;
  color: white;
  text-align: center;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  margin-top: auto;
}
#links {
  margin: 16px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer_desktop {
  margin-bottom: 16px;
}
/* Con resize none evitamos que el usuario pueda redimensionar el cuadro de texto, para que no rompa el estilo. */
textarea {
  resize: none;
}
/* HOME */
/* Las imágenes las colocamos con background image y definiendo su ubicación, con size decimos el tamaño en referencia al elemento (cover hace que la imagen aumente hasta cubrir el elemento), position la situa cuando la imagen es mas grande que su contenedor, en este caso al 80% en su eje y, y no repeat es para que la imagen no se duplique hasta llenar el espacio*/
.portada {
  font-size: 16px;
  min-height: 135px;
  display: flex;
  align-items: center;
  text-align: center;
  background-image: url("../public/assets/imgs/fondo_padel.jpg");
  background-size: cover;
  background-position-y: 80%;
  background-repeat: no-repeat;
}
/* Aquí usamos el pseudoelemento before, que nos permite crear como indica su nombre, un pseudoelemento detrás del elemento al que apunta. En este caso creamos un elemento del mismo tamaño con un color al 75% de opacidad que permite que la imagen se vea menos y las letras se lean mejor. */
.portada::before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: "";
  background-color: white;
  opacity: 75%;
}
.dos_botones {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* Combinamos un cálculo que incluye medidas relativas como el porcentaje y píxeles, de manera que nos aseguramos de que la medida sea la mitad de su contenedor como mínimo y el resto del margen lateral, con lo que quedarán centrados y del mismo tamaño. */
.dos_botones .link_button {
  min-width: calc(50% - 32px);
}
/* El radio del borde nos permite curvar el borde de los elementos */
.blue_btn {
  border-radius: 25px;
  background-color: #6bc9f3;
  margin: 16px;
}
/* HOME SOCIOS */
#home_socios h3 {
  text-align: center;
}
.banner {
  display: flex;
  justify-content: right;
  min-height: 145px;
  background-image: url("../public/assets/imgs/padel_miembro.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.sub_banner {
  width: 50vw;
  font-size: 14px;
  background-color: rgba(237, 237, 237, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* Todas estas propiedades se utilizan para limitar el número de líneas que puede enseñar un párrafo. El display webkit -box se lo damos al párrafo, decimos cuantas líneas puede tener máximo y además determinamos que en caso de haber un desbordamiento del texto (es decir, que se superen las 5 líneas en este caso) se cree una elipsis, que se mostará como 3 puntos suspensivos */
.sub_banner_three p {
  display: -webkit-box;
  text-align: justify;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
.sub_banner p,
.sub_banner ul {
  margin: 0;
}
/* HOME ULTIMOS EVENTOS */
#home_ultimos_eventos h2 {
  background-color: #ededed;
  padding: 5px;
  margin: 20px 0;
  margin-left: -20px;
  text-align: center;
  justify-content: center;
}
#home_ultimos_eventos > p {
  text-align: justify;
  margin: 16px;
}
.eventos_banner {
  justify-content: left;
  background-image: url("../public/assets/imgs/pelota_evento_uno.jpg");
}
.titulo_mini {
  font-family: "Inika";
  font-size: 18px;
  font-weight: 100;
  margin: 10px;
  text-align: left;
}
.titulo_mini_2 {
  font-family: "Inika";
  font-weight: normal;
  font-size: 16px;
  justify-content: left;
  margin: 0;
}
.eventos_texto_banner p {
  margin: 5px 10px;
}
/* HOME TIENDA */
.cuadro_verde {
  border: 4px solid #00ad6e;
  margin: 16px;
}
#home_tienda h2 {
  margin: 0 5px;
  text-align: left;
}
#home_tienda p {
  margin: 0 5px;
}
#banner_home_tienda {
  justify-content: left;
  background-image: url("../public/assets/imgs/pelotas.jpg");
}
#home_tienda h4 {
  margin: 5px;
  justify-content: left;
}
/* HOME CLUB */
#home_club h3,
#home_blog h3 {
  text-align: left;
  margin: 5px 16px;
}
/* el gap indica el espacio que habrá entre los elementos dentro de un contenedor flex */
#botones_dedo {
  display: flex;
  flex-direction: column;
  margin: 0 16px;
  gap: 12px;
}
#botones_dedo .link_button {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7a416;
  min-height: 44px;
}
#botones_dedo #text {
  margin: 20px;
}
/* HOME BLOG */
#home_blog {
  background-color: #ededed;
}
#home_blog h3 {
  margin-top: 25px;
}
#home_blog h4 {
  text-align: left;
}
#home_blog > div {
  background-image: none;
}
.home_blog_texto {
  margin: 0 20px 0 0;
}
#home_blog .banner {
  background-image: none;
}
#home_blog .banner:nth-child(1) {
  font-size: 16px;
}
.home_blog_img {
  width: 50vw;
  margin: 10px 10px 10px 20px;
  background-image: url("../public/assets/imgs/jugadora_padel.jpg");
  background-size: 250%;
  background-position: top center;
}
.orange_100_btn {
  text-align: center;
  margin: 20px 16px;
}
.orange_btn {
  min-width: 100%;
  border-radius: 25px;
  background-color: #f7a416;
}
.sub_banner .desktop_show {
  display: none;
}
/* TIENDA */
/* TIENDA ENCABEZADO */
.busqueda,
.categorias {
  display: flex;
  font-size: 18px;
}
.categorias {
  width: calc(100% - 40px);
  margin: 0 20px;
  align-items: center;
  background-color: #6bc9f3;
  padding: 0 20px;
  font-family: "Kodchasan", sans-serif;
  justify-content: space-between;
  min-height: 44px;
}
#buscador {
  display: flex;
  width: calc(100% - 40px);
  height: 40px;
  margin: 75px 20px 20px 20px;
  text-overflow: ellipsis;
  font-size: 18px;
}
#buscador::placeholder {
  font-family: "Inika", serif;
  color: black;
  font-size: 18px;
}
#lupa {
  position: absolute;
  top: 76px;
  left: calc(100% - 80px);
  right: 0;
}
#categorias_check {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}
.categorias_lista {
  visibility: collapse;
  position: absolute;
  display: flex;
  width: 100%;
  top: 44px;
  left: 0;
  z-index: 1;
  background-color: white;
}
.categorias_lista ul {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}
.categorias_lista li a {
  display: flex;
  text-decoration: none;
  color: black;
  align-items: center;
  width: 100%;
  background-color: #6bc9f3;
  min-height: 44px;
  justify-content: center;
  text-align: center;
  margin: 5px 0;
}
#categorias_check:checked ~ .categorias_lista {
  visibility: visible;
}

/* Transform nos permite aplicar una rotación al elemento señalado, en este caso lo hacemos con la flecha desplegable de categorías, y le damos una vuelta y media entera para animarla. Sin una duración de la transición daría igual que fuesen 180 o 540 grados, pero como en la siguiente regla CSS le damos al elemento arroz_down una duración de las transiciones de medio segundo, le veremos dar una vuelta completa al aplicar y quitar el checked */
#categorias_check:checked ~ .arrow_down {
  transform: rotate(540deg);
}
.arrow_down {
  margin-left: auto;
  transition-duration: 0.5s;
}
/* TIENDA OFERTAS */
.ofertas {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  height: 150px;
  gap: 20px;
}
.ofertas p {
  margin: 0;
}
.oferta1,
.oferta2,
.oferta3 {
  display: flex;
  width: 50%;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  background-image: url("../public/assets/imgs/Pala_tienda.jpg");
  background-size: cover;
  background-position: center;
}
.texto_oferta,
.precio_oferta {
  background-color: rgba(237, 237, 237, 0.75);
}
.texto_oferta {
  margin: 0;
  justify-content: center;
  font-family: "Inika", sans-serif;
}
.precio_oferta {
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 50px;
  margin: 10px;
  margin-left: auto;
  border-radius: 25px;
}
.oferta2 {
  background-image: url("../public/assets/imgs/zapatos_1.jpg");
  background-size: 400%;
  background-position: bottom;
  background-position-x: 15%;
}
/* TIENDA ULTIMOS PRODUCTOS */
.ultimos_productos h2 {
  background-color: #ededed;
  justify-content: center;
  margin: 20px 0;
  text-align: center;
}
#tienda .ultimos_productos .banner_desktop {
  display: flex;
  margin: 40px 20px;
  gap: 20px;
}
.ultimos_productos .banner,
.ultimos_productos .sub_banner {
  width: 50%;
  justify-content: right;
  font-size: 16px;
}
.ultimos_productos .sub_banner p {
  margin: 5px;
}
.encabezado_tienda {
  position: absolute;
  width: max-content;
  top: -55px;
  left: 0;
  font-family: "Inika", sans-serif;
  font-weight: normal;
}
.ultimos_productos a:nth-child(1) {
  background-image: url("../public/assets/imgs/pelotas.jpg");
}
#tienda > section.ultimos_productos > div > a:nth-child(2) {
  background-image: url("../public/assets/imgs/padel_pala_2.jpg");
}
#tienda > section.ultimos_productos > div > a:nth-child(3) {
  background-image: url("../public/assets/imgs/camiseta.jpg");
}
/* SOCIOS */
/* SOCIOS VENTAJAS */
#ventajas h1,
#ventajas h2 {
  margin: 16px;
}
#ventajas h1 {
  margin-top: 65px;
}
#ventajas h2 {
  justify-content: center;
  text-align: center;
}
#ventajas .cuadro_verde {
  padding-bottom: 20px;
  margin-bottom: 40px;
}
#ventajas ul {
  padding-right: 16px;
}
/* SOCIOS INSCRIPCION */
#inscripcion h2 {
  justify-content: center;
}
#inscripcion {
  display: flex;
  flex-direction: column;
}
/* SOCIOS DATOS PERSONALES */
.desktop_3_form {
  display: block;
}
#datos_personales {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 250px;
  margin: 16px;
  margin-bottom: 48px;
}
#datos_personales::before,
#datos_de_contacto::before,
#contribucion::before {
  content: "";
  position: absolute;
  width: calc(100% + 32px);
  height: calc(100% + 8px);
  top: 8px;
  left: -16px;
  background-color: #ededed;
}
#datos_personales input,
#datos_de_contacto input,
#contribucion input {
  min-height: 20px;
}
#datos_personales label,
#datos_de_contacto label {
  margin-bottom: -8px;
  z-index: 1;
}
#datos_personales input,
#datos_de_contacto input,
#contribucion input {
  margin-bottom: 15px;
}
/* SOCIOS DISPONIBILIDAD */
#disponibilidad h3,
#contribucion h3 {
  margin: 0;
}
#disponibilidad,
#datos_de_contacto,
#contribucion {
  display: flex;
  flex-direction: column;
  padding: 16px;
}
#disponibilidad p,
#contribucion p {
  margin: 16px 0;
}
#disponibilidad div,
#datos_de_contacto div,
#contribucion div {
  display: flex;
  text-align: left;
  align-items: center;
  gap: 20px;
}
#disponibilidad input,
#datos_de_contacto div input,
#contribucion div input {
  min-height: 35px;
  min-width: 35px;
  cursor: pointer;
}
#disponibilidad #otros {
  height: calc(16px * 4);
}
#disponibilidad input:checked::after,
#datos_de_contacto input:checked::after,
#contribucion input:checked::after {
  content: "";
  font-size: 16px;
  width: 100%;
  height: 100%;
  background-color: #00ad6e;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border: none;
}
/* DATOS DE CONTACTO */
#datos_de_contacto,
#contribucion {
  display: flex;
  flex-direction: column;
  margin: 16px;
}
#datos_de_contacto label {
  margin-bottom: -4px;
  z-index: 1;
}
#datos_de_contacto div input,
#contribucion div input {
  margin-bottom: 0;
}
#datos_de_contacto div,
#contribucion div {
  margin-bottom: 10px;
}
#datos_de_contacto input:checked::after,
#contribucion input:checked::after {
  background-color: black;
  border: 0;
}
/* CONTRIBUCION */
.dos_niveles,
.dos_check {
  flex-direction: column;
  justify-content: left;
  width: 100%;
}
#contribucion .dos_check div,
#disponibilidad .dos_check div {
  width: 100%;
}

#cantidad {
  margin-left: 62.5px;
  width: calc(100% - 78.5px);
  height: 25px;
  bottom: 10px;
  right: 0;
}
/* Con "content" creamos contenido mediante CSS, que solo aporta información decorativa */
.euro::after {
  content: "€";
  position: absolute;
  top: -3px;
  left: calc(100% - 40px);
}
/* DUDAS O COMENTARIOS */
#dudas {
  display: flex;
  flex-direction: column;
  margin: 16px;
  margin-top: 25px;
  gap: 25px;
}
#dudas textarea {
  height: 120px;
}
#birth_date {
  width: 100%;
}
/* EL CLUB */
/* PORTADA */
.portada {
  min-height: 175px;
}
.portada_club {
  background-image: url("../public/assets/imgs/pista-tenis.jpg");
}
.portada_club p {
  margin: 16px;
}
/* ASOCIACION */
#club h2 {
  justify-content: center;
  margin: 20px auto;
  text-align: center;
}
.dos_fotos_texto {
  margin: 16px;
}
.dos_fotos_texto p {
  margin: 16px 0;
}
.dos_fotos {
  display: flex;
  width: 100%;
  height: 150px;
  gap: 16px;
  margin: 16px 0;
}
.foto1,
.foto2 {
  width: 100%;
  height: 100%;
  background-image: url("../public/assets/imgs/asociacion_1.jpg");
  background-size: cover;
  background-position: center;
}
.foto2 {
  background-image: url("../public/assets/imgs/asociacion_2.jpg");
}
#asociacion > div:nth-child(3) .foto1 {
  background-image: url("../public/assets/imgs/asociacion_3.jpg");
}
#asociacion > div:nth-child(3) .foto2 {
  background-image: url("../public/assets/imgs/asociacion_4.jpg");
}
/* COMO ESTAMOS ORGANIZADOS */
.cinco_fotos {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100vw / 6);
  max-height: 200px;
  gap: calc(100% / 6 / 6);
  justify-content: space-evenly;
  margin: 20px 0;
  background-color: #ededed;
}
.cinco_fotos .foto1,
.cinco_fotos .foto2,
.cinco_fotos .foto3,
.cinco_fotos .foto4,
.cinco_fotos .foto5 {
  width: calc(100% / 6);
  height: 100%;
  background-image: url("../public/assets/imgs/persona_1.jpg");
  background-position: top;
  background-size: cover;
}
.cinco_fotos .foto2 {
  background-image: url("../public/assets/imgs/persona_2.jpg");
}
.cinco_fotos .foto3 {
  background-image: url("../public/assets/imgs/persona_3.jpg");
}
.cinco_fotos .foto4 {
  background-image: url("../public/assets/imgs/persona_4.jpg");
}
.cinco_fotos .foto5 {
  background-image: url("../public/assets/imgs/persona_5.jpg");
}
/* COMPROMISO */
.titulo_compromiso {
  margin: 20px;
  display: flex;
  height: 150px;
  background-image: url("../public/assets/imgs/compromiso.jpg");
  background-position: center;
  background-size: cover;
}
.titulo_compromiso::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(237, 237, 237, 0.75);
}
#compromiso_medioambiental .foto1 {
  background-image: url("../public/assets/imgs/medio1.jpg");
}
#compromiso_medioambiental .foto2 {
  background-image: url("../public/assets/imgs/medio2.jpg");
}
#compromiso_medioambiental .foto3 {
  background-image: url("../public/assets/imgs/medio3.jpg");
}
#compromiso_medioambiental .foto4 {
  background-image: url("../public/assets/imgs/medio4.jpg");
}
#compromiso_medioambiental .foto5 {
  background-image: url("../public/assets/imgs/medio5.jpg");
}
#club .orange_btn {
  margin: 40px 0;
}
/* FIN DE LA PARTE MOVIL */
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/* COMIENZO PARTE DESKTOP */
/* Después de haber declarado todo el contenido móvil, declaramos display:none para os elementos que tienen la clases desktop_show para que no se vean, y hacemos hincapié en hacerlo con el id de tienda porque había una declaración con identificador que si no lo sobreescribiría */
.desktop_show,
#tienda .desktop_show {
  display: none;
}
/* Aquí hacemos la media query, que nos dice que en el momento en que el contenedor central sobrepase los 1200px, se calculará un margen que tendrá en cuenta el ancho del contenedor y el de la pantalla para centrarlo siempre (el margen será la mitad de la pantalla + la mitad del ancho del contenedor, haciendo que este siempre esté en el centro) */
@media (min-width: 1200px) {
  main,
  .footer_container {
    margin-left: calc(50vw - 600px);
  }
}
/* Esta media query es para todo lo referente a la vista desktop, que se aplicará a partir de los 768px */
/* GLOBAL DESKTOP */
@media (min-width: 768px) {
  /* ocultamos la vista del menú móvil */
  .nav_mobile {
    display: none;
  }
  /* Mostramos los elementos con la clase desktop show */
  .desktop_show {
    display: block;
  }
  /* Como antes, definimos los estilos generales de los componentes en global, simplemente que ahora se definen a partir del tamaño de pantalla determinado en la media query*/
  h1,
  h2,
  h3,
  h4 {
    font-size: 64px;
  }
  h2 {
    font-size: 48px;
    justify-content: left;
    margin: 20px;
  }
  h3 {
    font-size: 32px;
  }
  h4 {
    font-size: 24px;
  }
  .link_button {
    font-size: 20px;
    display: flex;
  }
  p {
    font-size: 18px;
    margin: 20px;
  }
  .orange_100_btn {
    text-align: center;
    margin: 20px 0px;
  }
  #home .orange_100_btn {
    margin-bottom: 40px;
  }
  #socios .orange_btn {
    margin-bottom: 10px;
  }
  .blue_btn {
    margin: 16px 0;
  }
  /* HEADER */
  .banner_verde {
    min-height: 70px;
    justify-content: space-between;
    padding: 0 20px;
  }
  .header_img {
    min-height: 70px;
  }
  .banner_verde img {
    height: 35px;
  }
  #desktop_menu {
    display: flex;
    width: 100%;
    justify-content: right;
    gap: 25px;
  }
  #desktop_menu .link_button {
    min-width: 250px;
    padding: 0 10px;
  }
  #boton_identificate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
  }
  #boton_identificate::before {
    content: "";
    top: 0;
    left: 0;
    border: 4px solid black;
    width: 98%;
    height: 85%;
    position: absolute;
  }
  #boton_identificate img {
    margin: 0 0 -3px 0;
    height: 45px;
  }
  /* PORTADA */
  .portada {
    min-height: 400px;
    display: flex;
    align-items: end;
  }
  .portada::before {
    opacity: 0%;
  }
  .portada nav {
    width: 100%;
    justify-content: center;
  }
  .portada nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: space-between;
    margin: 16px;
  }
  .portada nav ul li a {
    font-size: 20px;
    min-height: 60px;
    background-color: #ededed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100vw / 7);
  }
  .banner {
    min-height: 250px;
    background-position-y: 30%;
  }
  /* HOME DESKTOP */
  /* SOCIOS */
  #home_socios > p {
    text-align: center;
  }
  #miembro_texto_banner {
    justify-content: space-around;
    width: fit-content;
    font-size: 18px;
  }
  #home_socios h2 {
    margin: 0;
  }
  #home_socios .banner p {
    margin: 20px;
  }
  /* ULTIMOS EVENTOS */
  #home_ultimos_eventos {
    overflow: hidden;
    margin: 20px 0;
  }
  #home_ultimos_eventos h2 {
    justify-content: center;
  }
  .banner_desktop {
    width: 120%;
    display: flex;
    gap: 20px;
  }
  .banner_three {
    justify-content: right;
    min-width: 33%;
    height: 250px;
  }
  .banner_three p {
    font-size: 16px;
  }
  .banner_three h4 {
    font-size: 18px;
    font-family: "Inika";
    text-align: left;
  }
  .sub_banner_three {
    width: 50%;
    justify-content: start;
    overflow: hidden;
    height: 250px;
  }
  .sub_banner_three p {
    display: -webkit-box;
    text-align: justify;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  #home_ultimos_eventos .desktop_show,
  #home_tienda .desktop_show,
  #tienda .desktop_show {
    display: flex;
  }
  #home_tienda .desktop_show {
    display: -webkit-box;
  }
  .banner_desktop .banner:nth-child(2) {
    background-image: url("../public/assets/imgs/torneo.jpg");
  }
  .banner_desktop .banner:nth-child(3) {
    background-image: url("../public/assets/imgs/evento_4.jpg");
    background-position: right;
  }
  /* LA TIENDA */
  #home_tienda h3,
  #home_tienda h2,
  #home_tienda p {
    text-align: left;
    margin: 0 16px;
  }
  #home_tienda {
    overflow: hidden;
    margin: 0;
  }
  #home_tienda .banner {
    justify-content: right;
    background-position: center;
    display: flex;
  }
  .banner_three {
    margin: 10px 0 20px 0;
  }
  #home_tienda .banner_three p {
    -webkit-line-clamp: 7;
  }
  #home_tienda .banner:nth-child(1)::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("../public/assets/imgs/pelotas.jpg");
    background-size: cover;
    background-position: 75%;
    background-repeat: no-repeat;
  }
  #home_tienda .banner:nth-child(2) {
    background-image: url("../public/assets/imgs/padel_pala_2.jpg");
  }
  #home_tienda .banner:nth-child(2)::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("../public/assets/imgs/padel_pala_2.jpg");
    background-size: cover;
    background-position: 75%;
    background-repeat: no-repeat;
  }
  #home_tienda .banner:nth-child(3) {
    background-image: url("../public/assets/imgs/camiseta.jpg");
  }
  #home_tienda .banner:nth-child(3)::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("../public/assets/imgs/camiseta.jpg");
    background-size: cover;
    background-position: 75%;
    background-repeat: no-repeat;
  }
  .dos_botones {
    margin: 25px 0;
  }
  /* EL CLUB */
  #home_club h2 {
    text-align: left;
  }
  #botones_dedo {
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
  }
  #botones_dedo .link_button,
  .imagen_club {
    width: 33%;
    min-height: 250px;
    font-size: 20px;
    justify-content: center;
    text-align: center;
  }
  #botones_dedo .link_button img {
    width: 95px;
  }
  .imagen_club {
    background-image: url("../public/assets/imgs/el_club_desktop.jpg");
    background-size: cover;
    background-position: top;
  }
  /* EL BLOG */
  #home_blog {
    margin: 40px 0;
  }
  #home_blog h2 {
    text-align: left;
    margin: 20px;
  }
  #home_blog .banner_desktop {
    width: 100%;
  }
  .banner_three p:nth-child(1) {
    font-size: 18px;
  }
  #home_blog .banner {
    background-image: none;
  }
  #home_blog .desktop_show {
    display: flex;
  }
  #home_blog .sub_banner_three {
    width: 50%;
  }
  .home_blog_img {
    margin: 0 20px;
  }
  .home_blog_texto {
    margin: 0 20px 0 0;
  }
  footer img {
    width: 100px;
  }
  .footer_desktop {
    display: flex;
    justify-content: space-around;
  }
  .footer_desktop p {
    margin: 0;
  }
  #home_blog .banner:nth-child(2) .home_blog_img {
    background-image: url("../public/assets/imgs/evento2blog.jpg");
    background-size: cover;
  }
  /* LA TIENDA */
  /* BUSCADOR */
  #buscador,
  .ofertas {
    margin: 20px 0;
    width: 100%;
  }
  #lupa {
    top: 21px;
  }
  .oferta3 {
    display: flex;
  }
  .texto_oferta {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    font-size: 24px;
    text-transform: uppercase;
  }
  .precio_oferta {
    margin: 50px;
    margin-left: 50%;
  }
  .ofertas {
    height: 250px;
  }
  /* CATEGORIAS */
  .categorias_desktop ul {
    display: flex;
    width: 100%;
    list-style: none;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 20px;
  }
  .categorias_desktop ul li {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .categorias_desktop li:nth-child(1) a {
    background-color: #6bc9f3;
    font-weight: bold;
  }
  .categorias_desktop a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: "Kodchasan";
    font-size: 20px;
    text-decoration: none;
    color: black;
    background-color: #ededed;
    height: 75px;
    text-align: center;
  }
  .oferta3 {
    background-image: url("../public/assets/imgs/botellatienda.jpg");
  }
  /* ULTIMOS PRODUCTOS */
  #tienda .ultimos_productos .banner_desktop {
    margin: 20px 0;
    gap: 20px;
    width: auto;
    height: 400px;
  }
  #tienda .ultimos_productos .banner_three {
    min-width: 25%;
    height: 400px;
    margin: 0;
  }
  #tienda .ultimos_productos .banner,
  #tienda .ultimos_productos .sub_banner_three {
    height: 400px;
  }
  #tienda .ultimos_productos .banner_three p {
    min-height: 20px;
  }
  #tienda .sub_banner_three p {
    display: -webkit-box;
    text-align: justify;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  #tienda ul {
    margin: 0;
    padding: 0;
  }
  /* SOCIOS */
  /* DATOS PERSONALES, DISPONIBILIDAD, DATOS DE CONTACTO */
  #ventajas h1 {
    margin-top: 20px;
  }
  .desktop_3_form {
    display: flex;
    height: 450px;
  }
  .desktop_3_form form {
    width: 25%;
  }
  #disponibilidad {
    width: 50%;
    justify-content: space-around;
  }
  #disponibilidad div {
    gap: 0;
  }
  #datos_personales,
  #datos_de_contacto,
  #disponibilidad {
    height: 100%;
  }
  #datos_personales {
    justify-content: space-evenly;
  }
  #datos_personales::before,
  #datos_de_contacto::before,
  #contribucion::before {
    content: "";
    position: absolute;
    width: calc(100% + 32px);
    height: 100%;
    top: 8px;
    left: -16px;
    background-color: #ededed;
  }
  #inscripcion .cuadro_verde {
    margin-top: 24px;
  }
  .dos_niveles,
  .dos_check {
    flex-direction: row;
  }
  #cantidad {
    margin-left: auto;
    width: 200px;
  }
  #disponibilidad .dos_niveles {
    flex-direction: column;
  }
  #inscripcion h3 {
    font-size: 26px;
    margin: 0 0 10px 0;
  }
  #datos_de_contacto p {
    margin: 0;
  }
  #contribucion {
    margin-top: 40px;
  }
  .desktop_hide,
  #home_tienda .desktop_hide,
  #tienda .desktop_hide,
  #tienda .sub_banner .desktop_hide {
    display: none;
  }
  #datos_personales label {
    margin-bottom: -45px;
  }
  /* EL CLUB */
  #club p {
    text-align: justify;
  }
  .portada_club {
    background-image: url("../public/assets/imgs/fondo_padel.jpg");
  }
  .texto_club {
    position: absolute;
    top: 30%;
    width: 100%;
    background-color: rgba(237, 237, 237, 0.75);
  }
  .portada_club p {
    margin: 0;
    padding: 30px;
  }
  #asociacion {
    display: flex;
    flex-direction: column;
  }
  .dos_fotos_texto {
    width: 100%;
    display: flex;
    margin: 20px 0;
  }
  .dos_fotos {
    display: flex;
    width: 40%;
    height: auto;
    margin: 20px;
  }
  .dos_fotos_texto p {
    width: 70%;
    margin: 20px;
  }
  #club > section#asociacion > div:nth-child(2) {
    margin: 0;
  }
  #club > section#asociacion > div:nth-child(3) {
    flex-direction: row-reverse;
    margin-top: 0;
  }
  /* COMPROMISO */
  #club > section#compromiso_medioambiental > div.titulo_compromiso {
    height: 350px;
  }
}
